.new-items{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin: 30px;
    padding: 15px;
    height: 20vh;
    margin-bottom: 10px;
    gap: 5px;
   
}

h1{
    text-align: center;
   
}